body{
    background-image: url("beginning.jpg") ;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-left: 350px;
    font-size: 25px;
}
h4 {
    margin-left: 100px;
}
img {
    width: 350;
    height: 450;
    margin-left: 150px ;
}